<md-toolbar class="main-toolbar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" href="#/">
            <md-icon md-font-set="material-icons">assignment_late</md-icon>
        </md-button>
        <h2><span>TaskPriority - {{ monthToDate | date:'MMMM yyyy' }}</span></h2>
    </div>
</md-toolbar>
<md-content flex layout="column">
    <div flex layout-padding layout="column">
        <md-grid-list md-cols="7" md-cols-sm="1" md-row-height="4:3" class="calendar" md-gutter="10px">
            <md-grid-tile ng-repeat="day in days" class="md-whiteframe-z4">
                <md-grid-tile-header class="md-primary">
                </md-grid-tile-header>
                <md-button flex href="#/{{ day.date | date : 'yyyy-MM-dd' }}"><div layout="column" layout-align="space-around center"><span><md-icon md-font-set="material-icons">assignment</md-icon>{{ day.tasks }}</span><span><md-icon md-font-set="material-icons">timelapse</md-icon>{{ day.time }} min.</span></div></md-button>
                <md-grid-tile-footer class="md-primary">
                    <h3>{{ day.date | date : 'dd/MM/yyyy' }}</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
    <md-button ng-click="getCalendar(month-1)" class="md-fab md-mini md-raised navigation-button navigation-button-left">
        <md-icon>navigate_before</md-icon>
    </md-button>
    <md-button ng-click="getCalendar(month+1)" class="md-fab md-mini md-raised navigation-button navigation-button-right">
        <md-icon>navigate_next</md-icon>
    </md-button>
</md-content>