<div flex layout="row" layout-wrap layout-margin layout-fill>
    <div flex class="md-whiteframe-z4 task-list">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-icon>alarm</md-icon>
                <md-icon>star</md-icon>
            </div>
        </md-toolbar>
        <md-list sv-root="sortable" sv-part="tasksUI" sv-on-sort="onSorted($item, $partTo)">
            <md-list-item class="md-2-line" ng-repeat="task in tasksUI" sv-element>
                <md-checkbox ng-model="task.done"></md-checkbox>
                <div ng-class="{'done-task': task.done}" class="md-list-item-text" flex>
                    <h4>{{ task.label }}</h4>
                    <p>{{ task.time }} minutes</p>
                </div>
                <md-icon sv-handle>open_with</md-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div flex class="md-whiteframe-z4 task-list">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-icon>alarm_off</md-icon>
                <md-icon>star</md-icon>
            </div>
        </md-toolbar>
        <md-list sv-root="sortable" sv-part="tasksuI" sv-on-sort="onSorted($item, $partTo)">
            <md-list-item class="md-2-line" ng-repeat="task in tasksuI" sv-element>
                <md-checkbox ng-model="task.done"></md-checkbox>
                <div ng-class="{'done-task': task.done}" class="md-list-item-text" flex>
                    <h4>{{ task.label }}</h4>
                    <p>{{ task.time }} minutes</p>
                </div>
                <md-icon sv-handle>open_with</md-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
<div flex layout="row" layout-wrap layout-margin layout-fill>
    <div flex class="md-whiteframe-z4 task-list">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-icon>alarm</md-icon>
                <md-icon>star_border</md-icon>
            </div>
        </md-toolbar>
        <md-list sv-root="sortable" sv-part="tasksUi" sv-on-sort="onSorted($item, $partTo)">
            <md-list-item class="md-2-line" ng-repeat="task in tasksUi" sv-element>
                <md-checkbox ng-model="task.done"></md-checkbox>
                <div ng-class="{'done-task': task.done}" class="md-list-item-text" flex>
                    <h4>{{ task.label }}</h4>
                    <p>{{ task.time }} minutes</p>
                </div>
                <md-icon sv-handle>open_with</md-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div flex class="md-whiteframe-z4 task-list">
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-icon>alarm_off</md-icon>
                <md-icon>star_border</md-icon>
            </div>
        </md-toolbar>
        <md-list sv-root="sortable" sv-part="tasksui" sv-on-sort="onSorted($item, $partTo)">
            <md-list-item class="md-2-line" ng-repeat="task in tasksui" sv-element>
                <md-checkbox ng-model="task.done"></md-checkbox>
                <div ng-class="{'done-task': task.done}" class="md-list-item-text" flex>
                    <h4>{{ task.label }}</h4>
                    <p>{{ task.time }} minutes</p>
                </div>
                <md-icon sv-handle>open_with</md-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
<!-- <div layout="row" layout-align="end center" layout-margin class="" style="position:fixed; bottom: 0px;right:0px;"> -->
<div flex layout="row" layout-align="end center" style="position:fixed;bottom:0;">
    <md-button class="md-fab">
        <md-icon>add</md-icon>
    </md-button>
</div>